@font-face {
    font-family: "Bowlby", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap") format('eot');
}

/*html{
    width: 80%;
    max-width: 1280px;
    position:absolute;
    
}*/

body {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FEE0BA;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom;
}

.page-wrapper {
    width: 80%;
    margin:auto;
}
h1 {
    font-size: 1.8rem;
    color: #BF1151;
    text-transform: uppercase;
}
h2 {
    font-size: 1.4rem;
    color: #BF1151;
}
h3 {
    color: #BF1151;
    font-size: 1.2rem;
    text-transform: uppercase;
}
p {
    align-content: center;
    text-indent: 1.5;
    color: #BF1151;
}
abbr {
    font-family: small-caps;
    border-bottom: none;
    text-decoration: none;
}
header {
    background-image: url("header-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    padding: 20px 0 50px 0;
    background-color: hsl(34, 78%, 91%, 0.6);
    text-align: center;
    font-family: Bowlby;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #F25C05;
}
a:visited { 
	font-weight: bold;
	text-decoration: none; 
	color: #F25C05;
}
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #F25C05;
}
a {
    color:#F25C05;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 300px;
}
ul li {
    position: relative;
}

footer {
    margin: 4%;
    color: #FEF1DF;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    font-size: 1rem;
}
footer a:link {
    color: #FEF1DF;
    padding: 2em;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #FEF1DF;
}
footer a:hover {
    color: rgb(254, 241, 223, 0);
    background-color: #FEF1DF;
}
footer a:visited {
    font-size: 2rem;
    color: #FEF1DF;
    padding: 0.5em;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #FEF1DF;
}

.main {
    line-height: 1.5;
}

.intro {
    height: 550px;
}

.summary {
    text-align: justify;
    background-color: rgb(255, 200, 58, 0.2);
    position: relative;
    margin-block: 10px;
    text-align: center;
}

.summary a {
    text-transform: uppercase;
}

.preamble {
    text-align: justify;
    background-color: rgb(246, 154, 51, 0.2);
    margin-block: 10px;
}

.explanation {
    text-align: justify;
    background-color: rgb(238, 103, 65, 0.2);
    position: relative;
    padding: 2%;
    width: 65%;
    margin-block: 10px;
    border-right: #1f295c;
}

.participation {
    text-align: justify;
    background-color: rgb(234, 97, 107, 0.2);
    position: relative;
    padding: 2%;
    width: 65%;
    margin-block: 10px;
}

.benefits {
    text-align: justify;
    background-color: rgb(238, 103, 65, 0.2);
    position: relative;
    padding: 2%;
    width: 65%;
    margin-block: 10px;
}

.requirements {
    text-align: justify;
    background-color: rgb(246, 154, 51, 0.4);
    position: relative;
    padding: 2%;
    width: 65%;
    margin-block: 10px;
}

/*SIDEBAR*/
/*DESIGN ARCHIVES*/
.navigation ul{
    display: flex;
    flex-direction: row;
}
/*DESIGN SELECTION*/
.select {
    text-transform: uppercase;
    padding-left: 2%;
}
.design-selection {
    background-color: hsl(34, 78%, 91%, 0.6);
    color: #F2A922;
    position: absolute;
    padding: 2%;
    top: 545px;
    left: 65%;
    width: 20%;
    margin: 15px;
}
.design-selection ul{
    padding:2%;
}
.design-selection ul li{
    position: static;
    display: block;
    text-decoration: none;
    color: #E2144A;
    padding: 30px;
    border-bottom: 1px solid #faead6;
 }
 .design-selection ul li:last-child{
    border-bottom:0;
 }
 .design-name {
    font-size: 1.25rem;
    text-transform: uppercase;
 }
 .design-name::after {
    content:"\a";
    white-space: pre;
 }
.designer-name {
    color: #F28F16
}

/*RESOURCES*/
.resources {
    text-align:left;
    padding-left: 2%;
    text-transform: uppercase;
}
.zen-resources {
    background-color: hsl(34, 78%, 91%, 0.6);
    background-size: cover;
    color: #F2A922;
    position: absolute;  
    text-transform: uppercase;
    padding: 2%;
    width: 20%;
    left: 65%;
    top: 1530px;
    margin: 15px;
}
.zen-resources ul {
    padding:2%;
    padding-top:0;
}
.zen-resources ul li {
    font-size: 1.25rem;
    position: static;
    display: block;
    text-decoration: none;
    color: #E2144A;
    background: transparent #fff;
    padding: 25px;
    border-bottom: 1px solid #faead6 ;
}
.zen-resources ul li:last-child{
    border-bottom:0;
 }

 .design-archives {
    display: none property;
 }