body {
    font-size: 16px;
    font-family: sans-serif;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/a230fc165098173.640181ca5901b.jpg");

}

h1 {
    font-size: 1.8rem;
    color: #BF1151
}

h2 {
    font-size: 1.4rem;
    color: #BF1151;
}

h3 {
    color: #BF1151;
    font-size: 1.2rem
}

p {
    align-content: center;
    text-indent: 1.5;
    color: #BF1151;
}

abbr {
    font-family: small-caps;
}

header {
    height: 230px;
    padding: 20px 0 20px 0;
    background-color: hsl(34, 78%, 91%, 0.6);
    text-align: center;
}

a {
    color:#F25C05;
}

.summary {
    text-align: justify;
    width: 1000px;
    background-color: hsl(34, 78%, 91%, 0.6);
}

.preamble {
    width: 1000px;
    text-align: justify;
    background-color: hsl(34, 78%, 91%, 0.6);
}

.explanation {
    width: 1000px;
    text-align: justify;
    background-color: hsl(34, 78%, 91%, 0.6);
}

.participation {
    text-align: justify;
    background-color: hsl(34, 78%, 91%, 0.6);
}

.benefits {
    text-align: justify;
    background-color: hsl(34, 78%, 91%, 0.6);
}

.requirements {
    text-align: justify;
    background-color: hsl(34, 78%, 91%, 0.6);
}

.design-selection {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/26704c165098173.640181ca57d2f.jpg");
    background-size: cover;
    float: right;
    float: top;
    color: #F2A922
}

.design-name {
    color:#F25C05
}

.designer-name {
    color: #F28F16
}



